* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #2c80da;
    margin-bottom: 10px;
}
ul{
  margin-bottom: 10px;
  margin-top: 10px;
}

.habilidades, .sobre {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #555;
}

.sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.texto-apresentacao {
    text-align: left;
    flex: 1;
}

.texto-apresentacao h1 {
    margin-bottom: 10px;
}

.texto-apresentacao h2 {
    margin-bottom: 5px;
}

.projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.projetos > div {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #555;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.detalhes-projeto {
    flex: 1;
}

.imagem-projeto {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border: 2px solid #2c80da;
    object-fit: cover;
}

.projetos ul {
    padding-left: 40px;
    margin-top: 10px;
    list-style-type: disc;
}

.habilidades ul, ul.tags {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 5px;
}

.habilidades ul {
    justify-content: center;
}

.habilidades li, .tags li {
    background-color: #2c80da;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9rem;
}

ul.tags {
    margin-bottom: 30px;
}

figure {
    text-align: center;
    margin: 0;
}

img {
    max-width: 200px;
    height: auto;
    border-radius: 0%;
    border: 4px solid #2c80da;
    margin-bottom: 10px;
}

figcaption {
    font-size: 0.9em;
    color: #ccc;
    font-style: italic;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #555;
}

a {
    color: #4da6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .projetos > div {
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .imagem-projeto {
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    .habilidades ul, ul.tags, .projetos ul {
        justify-content: center;
        padding-left: 0;
        list-style-position: inside;
    }
}